@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#navbar {
    padding: 10px 0px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    /*backdrop-filter: blur(0.1vw);*/
    position: fixed;
    top: 0;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5vw;
    z-index: 100;
}
#container-NavBar a{
    font-size: 1.3vw;
}

.navbar {
    margin: 1vh auto;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: Montserrat, sans-serif;
}

#container-NavBar {
    display: flex;
    justify-content: center;
}

.navbar-logo {
    max-width: 2.5vw;
    display: flex;
}

.navbar-item {
    margin-left: 1vw;
    color: #ffffff;
    filter: drop-shadow(0px 0px 0px rgb(0, 0, 0, 0));
    transition: filter 0.2s ease;
    font-size: 0.2rem;
}

.navbar-item:hover {
    color: #eeeeee;
    filter: drop-shadow(0px 1px 15px rgb(255, 255, 255, 0.6));
}

a.navbar-item.navbar-brand {
    font-size:0.75vw;
}


#wallpaper {
    z-index: -1;
    display: flex;
    justify-content: center;
    filter: blur(2px);
    height: 98vh;
}

#wallpaper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 80vw;
    padding: 12vw;
    box-sizing: border-box;
}

.carousel-container .slick-slide {
    padding: 0 10px; /* Espaço horizontal entre os slides */
}

.carousel-container .slick-slide > div {
    margin-bottom: 2vw; /* Espaço vertical entre os slides se necessário */
}

.carousel-container .slick-track {
    display: flex;
}

.about-mith-text {
    align-items: center;
    justify-content: center;
}

/* Media Queries */

@media (max-width: 1440px){
    .navbar-logo {
        max-width: 40px;
    }
    .navbar-item{
        font-size: 0.5rem;
    }
    #container-NavBar a{
        font-size: 1.2vw;
    }
}
@media (max-width: 768px) {
    .navbar-logo {
        max-width: 40px;
    }
    #container-NavBar a{
        font-size: 1.2vw;
    }
}

@media (max-width: 480px) {
    .navbar-logo {
        max-width: 5vw;
    }
    #container-NavBar a{
        font-size: 1.2vw;
    }
    #navbar {
        padding: 20px 0px;
        background-color: rgba(0, 0, 0, 0.7);
        /*backdrop-filter: blur(0.1vw);*/
        position: fixed;
        top: 0;
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0.5vw;
        z-index: 100;
    }
    #wallpaper img {
        width: 85%;
        height: auto;
        object-fit: cover;
    }

}

@media (max-width: 425px) {
    .navbar-logo {
        max-width: 5vw;
    }
    #container-NavBar a{
        font-size: 2vw;
    }
    #navbar {
        padding: 20px 0px;
        background-color: rgba(0, 0, 0, 0.7);
        /*backdrop-filter: blur(0.1vw);*/
        position: fixed;
        top: 0;
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0.5vw;
        z-index: 100;
    }
}

@media (max-width: 375px) {
    .navbar-logo {
        max-width: 3vw;
    }
    #container-NavBar a{
        font-size: 2.1vw;
    }
    #navbar {
        padding: 20px 0px;
        background-color: rgba(0, 0, 0, 0.7);
        /*backdrop-filter: blur(0.1vw);*/
        position: fixed;
        top: 0;
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0.5vw;
        z-index: 100;
    }
    @media (max-width: 320px) {
        #container-NavBar a{
            font-size: 2.7vw;
        }
        .navbar-logo {
            max-width: 0vw;
        }
        #navbar {
            padding: 20px 0px;
            background-color: rgba(0, 0, 0, 0.7);
            /*backdrop-filter: blur(0.1vw);*/
            position: fixed;
            top: 0;
            width: 87%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 0.5vw;
            z-index: 100;
        }
        #wallpaper img {
            width: 93%;
            height: auto;
            object-fit: cover;
        }

    }
}
