@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#card {
    height: 400px;
    transition: height 0.5s ease, border-radius 0.5s ease;
}

#card:hover {
    border-radius: 0px;
    height: 420px;
}

#cards {
    height: 400px;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    transition: background-color 0.2s ease;
    animation: SlideDown 0.5s ease;

}

@keyframes SlideDown {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

#cards:hover {
    border-radius: 0px;
    height: 420px;
    background-color: rgba(0,0,0,0.5);
    animation: slideUp 0.5s ease, border-radius 0.5s ease;
}

@keyframes slideUp {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }

}

.card-title {
    opacity: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Geologica', sans-serif;
    font-size: 10px;
    color: #FFFFFF; /* Exemplo de cor dourada */
}

.card-description {
    font-family: 'Poppins', sans-serif;
    display: flex;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 10px;
}


